*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  background: #ffffff;
  width: 320px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

h2{
  text-align: center;
  color: #333;
}

input {
  width: 68%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-top: 15px;
}

input:focus {
  border-color: #4f46e5;
}

button {
  padding: 8px 10px;
  padding-inline: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #4f46e5;
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #f9fafb;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li span {
  flex: 1;
  font-size: 14px;
  color: #333;
}

li button {
  margin-left: 6px;
  background: #6b7280;
}

li button:last-child {
  background: #ef4444;
}
